#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
%:
	dh $@ --with=kde

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PLUGINDIR=/usr/lib/x86_64-linux-gnu/qt5/plugins/

override_dh_install:
	dh_install --list-missing --fail-missing